<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Donation goal:</strong>
  <%= @project.donation_goal %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
